body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.demo-btn {
    margin: 10px;
}

.dialog-container {
    opacity: 1 !important;
}

.align-center {
    text-align: center;
}

.run-btn {
    display: block;
    width: 60%;
    margin: 10px auto;
}