<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Modals</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <!-- ## ==== MATERIAL DESIGN LITE ==== ## -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.2/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.1.2/material.min.js"></script>

    <link href="../derlin.modals.css" rel="stylesheet" type="text/css">
    <link href="demo.css" rel="stylesheet" type="text/css">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body ng-app="modal.app" ng-controller="MainCtrl as ctrl">

<!-- ================================================ -->

<div>
    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
        <input type="checkbox" id="switch-1" class="mdl-switch__input" ng-model="ctrl.bootstrap">
        <span class="mdl-switch__label">bootstrap style</span>
    </label>
</div>

<div>
    <button ng-repeat="d in ctrl.dialogs" ng-click="ctrl.dial(d)"
            class="demo-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
        {{d.title}}
    </button>
</div>

<hr>

<div id="results">
    last results: {{ctrl.lastResults | json}}
</div>


<!--custom MDL template -->
<script type="text/ng-template" id="mdlDialogTemplate.html">
    <div class="dialog-container" style="opacity: 1;">
        <div class="mdl-card mdl-shadow--16dp">
            <div id="runDialogContent" class="dialog-custom-content" style="display: block;">
                <h4>Your robot is ready</h4>
                <div style="text-align:center">
                    <p>Use the below buttons to control it.</p>

                    <div>
                        <button
                                class="run-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                                ng-click="inputs.run();">run
                        </button>
                    </div>
                    <div>
                        <button
                                class="run-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                                ng-click="inputs.stop();">stop
                        </button>
                    </div>
                </div>
            </div>
            <div class="mdl-card__actions dialog-button-bar">
                <button ng-click="close(false)"
                        class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">close
                </button>
            </div>
        </div>
    </div>
</script>


<!--custom BOOTSTRAP template -->
<script type="text/ng-template" id="bootstrapDialogTemplate.html">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="close(true)" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Your robot is ready.</h4>
                </div>
                <div class="modal-body align-center">
                    <p>Use the below buttons to control it.</p>
                    <button type="button" ng-click="inputs.run()" class="run-btn btn btn-primary">run</button>
                    <button type="button" ng-click="inputs.stop()" class="run-btn btn btn-primary">stop</button>

                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal">close
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>


<!-- custom no framework template -->
<script type="text/ng-template" id="myCustomModal.html">
    <div id="pureHtmlCssDialog">
        <div>
            <div ng-click="close(false)"><span class="my-close">X</span></div>
            <h4>No frameworks!</h4>
            <div>content of "more" : {{ inputs.more }}</div>
        </div>
    </div>
</script>
<!-- ================================================ -->

<script type="text/javascript" src="https://code.angularjs.org/1.5.0/angular.min.js"></script>


<script type="text/javascript" src="../derlin.modals.js"></script>

<!--app-->
<script type="text/javascript" src="demo.app.js"></script>

</body>
</html>